<div class="row p-5">
  <p class="bg-light py-2 px-3 border rounded">
    <strong>Random Names :</strong>
    "sam","sabbir","miku","chickoo","tuni","Anjan","Mukesh","Rishab","Ghanshyam","shubham","Abhijeet"
  </p>
  <div class="col-md-4">
    <strong>Ex-01 (take 5)</strong>
    <hr />
    <ul class="techlist" id="elcontainer2345"></ul>
  </div>

  <div class="col-md-4">
    <strong>Ex-02 (take last 5)</strong>
    <hr />
    <ul class="techlist" id="elcontainer2346"></ul>
  </div>

  <div class="col-md-4">
    <strong>Ex-03 (take until it stop when u click anywhere )</strong>
    <p>Reload the page</p>
    <hr />
    <ul class="techlist" id="elcontainer2347"></ul>
  </div>
</div>
