<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b6dbf5;" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">rxjs </a>
    <strong class=" badge bg-primary" *ngIf="exclusive" >Exclusive by Samundar </strong>

    <div class="collapse navbar-collapse justify-content-end "  id="navbarNav">

      <ul class="navbar-nav ">
        <li class="nav-item"><a class="nav-link" routerLink="homepage">Rxjs_operators </a></li>
        <li class="nav-item "><a class="nav-link" routerLink="/login">Forms </a></li>
        <li class="nav-item"><a class="nav-link" routerLink="dashboard">dashboard </a></li>
        <li class="nav-item"><a class="nav-link" routerLink="users"> Users(Api)</a></li>

      </ul>
    </div>
  </div>
</nav>
