<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ngrx </a>

    <div class="collapse navbar-collapse justify-content-end "  id="navbarNav">

      <ul class="navbar-nav ">
        <li class="nav-item"><a class="nav-link" routerLink="homepage">Home </a></li>
        <li class="nav-item "><a class="nav-link" routerLink="/login">login </a></li>
        <li class="nav-item"><a class="nav-link" routerLink="users">Users </a></li>
      </ul>
    </div>
  </div>
</nav>
