<div class="my-3 px-5">

  <div class="row">
  <div class="col-sm-3">
    <div class="card bg-success p-2 text-dark bg-opacity-10">
      <div class="card-body">
        <h5 class="card-title">rxjs form_to</h5>
        <p class="card-text">CLick on button to see demo </p>
        <a routerLink="../fromto" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>


  <div class="col-sm-3">
    <div class="card bg-success p-2 text-dark bg-opacity-10">
      <div class="card-body">
        <h5 class="card-title">rxjs Interval</h5>
        <p class="card-text">CLick on button to see demo </p>
        <a routerLink="../interval" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>


  <div class="col-sm-3">
    <div class="card bg-success p-2 text-dark bg-opacity-10">
      <div class="card-body">
        <h5 class="card-title">Of----From use</h5>
        <p class="card-text">CLick on button to see demo </p>
        <a routerLink="../offrom" class="btn btn-primary">View</a>

      </div>
    </div>
  </div>


  <div class="col-sm-3">
    <div class="card bg-success p-2 text-dark bg-opacity-10">
      <div class="card-body">
        <h5 class="card-title">toarray</h5>
        <p class="card-text">CLick on button to see demo </p>
        <a routerLink="../toarray" class="btn btn-primary">View</a>

      </div>
    </div>
  </div>


</div>
</div>
<!-- ------------------------------------------------------ -->
<div class="my-3 px-5">
<div class="row">

  <div class="col-sm-3">
    <div class="card bg-success p-2 text-dark bg-opacity-10">
      <div class="card-body">
        <h5 class="card-title">Custom Obserable</h5>
        <p class="card-text">CLick on button to see demo </p>
        <a routerLink="../customovserable" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card bg-success p-2 text-dark bg-opacity-10">
      <div class="card-body">
        <h5 class="card-title">Maps </h5>
        <p class="card-text">CLick on button to see demo </p>
        <a routerLink="../maps" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card bg-success p-2 text-dark bg-opacity-10">
      <div class="card-body">
        <h5 class="card-title">Pluck </h5>
        <p class="card-text">CLick on button to see demo </p>
        <a routerLink="../pluck" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card bg-success p-2 text-dark bg-opacity-10">
      <div class="card-body">
        <h5 class="card-title">Filter </h5>
        <p class="card-text">CLick on button to see demo </p>
        <a routerLink="../filter" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
</div>
</div>
<!-- ------------------------------------------------------ -->
<div class="my-3 px-5">
  <div class="row">

    <div class="col-sm-3">
      <div class="card bg-success p-2 text-dark bg-opacity-10">
        <div class="card-body">
          <h5 class="card-title">Tap </h5>
          <p class="card-text">CLick on button to see demo </p>
          <a routerLink="../tap" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card bg-success p-2 text-dark bg-opacity-10">
        <div class="card-body">
          <h5 class="card-title">Subjects </h5>
          <p class="card-text">CLick on button to see demo </p>
          <a routerLink="../subject" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>


    <div class="col-sm-3">
      <div class="card bg-success p-2 text-dark bg-opacity-10">
        <div class="card-body">
          <h5 class="card-title">Take ,Takelast,TakeUntil </h5>
          <p class="card-text">CLick on button to see demo </p>
          <a routerLink="../take" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card bg-success p-2 text-dark bg-opacity-10">
        <div class="card-body">
          <h5 class="card-title">Retry  </h5>
          <p class="card-text">CLick on button to see demo </p>
          <a routerLink="../retry" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div></div>
<!-- ------------------------------------------------------ -->

  <div class="my-3 px-5">
    <div class="row">
      <div class="col-sm-3">
        <div class="card bg-success p-2 text-dark bg-opacity-10">
          <div class="card-body">
            <h5 class="card-title">Debounce and Distinct until Changed </h5>
            <p class="card-text">CLick on button to see demo </p>
            <a routerLink="../debounce" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
      <div class="card bg-success p-2 text-dark bg-opacity-10">
        <div class="card-body">
          <h5 class="card-title">Replay (multiple user data Acess)  </h5>
          <p class="card-text">CLick on button to see demo </p>
          <a routerLink="../replay" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card bg-success p-2 text-dark bg-opacity-10">
        <div class="card-body">
          <h5 class="card-title">Concat (Serial combination of data from difftrent stream) </h5>
          <p class="card-text">CLick on button to see demo </p>
          <a routerLink="../concat" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card bg-success p-2 text-dark bg-opacity-10">
        <div class="card-body">
          <h5 class="card-title">Merge (parallel Combintion of data from different Stream) </h5>
          <p class="card-text">CLick on button to see demo </p>
          <a routerLink="../merge" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>

    </div></div>
<!-- ------------------------------------------------------ -->


<div class="my-3 px-5">
  <div class="row">
    <div class="col-sm-3">
      <div class="card bg-success p-2 text-dark bg-opacity-10">
        <div class="card-body">
          <h5 class="card-title">MergeMap</h5>
          <p class="card-text">CLick on button to see demo </p>
          <a routerLink="../mergemap" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card bg-success p-2 text-dark bg-opacity-10">
        <div class="card-body">
          <h5 class="card-title">ConcatMap</h5>
          <p class="card-text">CLick on button to see demo </p>
          <a routerLink="../concatmap" class="btn btn-primary">View</a>
        </div>
      </div>



  </div>
</div>
