<div class="my-3">
  <div class="row px-5 px-3">
    <div class="col-md-3">
      <strong>Ex -01 </strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data :</strong> Normal data ==> Mapped data(data = data *10)
      </p>
      <hr />
      <ul class="techlist" id="elcontainer123"></ul>
    </div>

    <div class="col-md-5">
      <strong>Ex -02 </strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data :</strong> All data
      </p>
      <ul class="techlist" id="elcontain223" ></ul>
      <hr />
    </div>

    <div class="col-md-4">
      <strong>Ex -03 </strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data :</strong>Mapped data (fullname =fname+lname)
      </p>
      <ul class="techlist" id="elcontain224"></ul>

      <hr />
    </div>
  </div>
</div>
