
<div class="my-3">
  <div class="row px-5 px-3">
    <h3>Merge operator Example</h3>
    <p>When we have to collect data from diffrent stream and show it in single output field
       then we use Merge operator to handle such sitation.
    <strong>It generally used when we are not strict toward the sequence of data. it simply subscribe data from multiple obserable and
      parallely subcribe each and every obserable .</strong>
    </p>
    <hr>
    <div class="col-md-4">
      <strong>Ex -01 </strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Animals ==> </strong> ['tiger','Bear','Lion','deer','zebra','fox']
      </p>
    </div>

    <div class="col-md-4">
      <strong>Ex -02 </strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Bird ==> </strong> ['pigeon','dove','cukoo','eagle','vulture','penguin']
      </p>
    </div>

    <div class="col-md-4">
      <strong>Ex -03 </strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Food ==> </strong>['pizza','samosa','burger','idli','dosai','litti']
      </p>
    </div>
  </div>

  <div class=" p-5 row justify-content-center">
    <p>Here we can see the data coming from diffrent Stream are not in serial manner so that the data get mixed</p>
    <div class="col-md-6">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Merge data : </strong> Animal + bird + food
      </p>
      <div class="card" >
        <ul id="elcontainer587">

        </ul>
      </div>
    </div>
  </div>



</div>
