/* You can add global styles to this file, and also import other style files */

ul.techlist{
  list-style-type:none;
  margin: 0;
  padding: 0;
}

ul.techlist li{
  background-color:#f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px 13px;
  margin-bottom: 10px;

}

ul.techlist.error li {
  color: black;
  background: #dc354561;
  border-color: red;
}


ul.techlist.complete li {
  color: white;
  background: #0080008a;
  border-color: rgb(21, 255, 0);
}


/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Roboto", sans-serif;
  background-color: #2cacbd;
}
/*
p {
  color: #b3b3b3;
  font-weight: 300; } */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto", sans-serif;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a:hover {
  text-decoration: none !important;
}

.content {
  padding: 7rem 0;
}

h2 {
  font-size: 20px;
}

.form-block {
  background: rgb(190, 228, 255);
  padding: 60px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}
@media (max-width: 991.98px) {
  .form-block {
    padding: 30px;
  }
}

@media (max-width: 991.98px) {
  .content .bg {
    height: 500px;
  }
}

.content .contents,
.content .bg {
  width: 50%;
}
@media (max-width: 1199.98px) {
  .content .contents,
  .content .bg {
    width: 100%;
  }
}
.content .contents .form-group,
.content .bg .form-group {
  position: relative;
}
.content .contents .form-group label,
.content .bg .form-group label {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.content .contents .form-group input,
.content .bg .form-group input {
  background: transparent;
  border-bottom: 1px solid #ccc;
}
.content .contents .form-group.first,
.content .bg .form-group.first {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.content .contents .form-group.last,
.content .bg .form-group.last {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.content .contents .form-group label,
.content .bg .form-group label {
  font-size: 12px;
  display: block;
  margin-bottom: 0;
  color: #b3b3b3;
}
.content .contents .form-group.focus,
.content .bg .form-group.focus {
  background: #fff;
}
.content .contents .form-group.field--not-empty label,
.content .bg .form-group.field--not-empty label {
  margin-top: -25px;
}

.content .bg {
  background-size: cover;
  background-position: center;
}

.content a {
  color: #888;
  text-decoration: underline;
}

.content .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px;
}

.content .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px;
}

.content .btn-pill {
  border-radius: 30px;
}

.social-login a {
  text-decoration: none;
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
}
.social-login a span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.social-login a:hover {
  color: #fff;
}
.social-login a.facebook {
  background: #3b5998;
}
.social-login a.facebook:hover {
  background: #344e86;
}
.social-login a.twitter {
  background: #1da1f2;
}
.social-login a.twitter:hover {
  background: #0d95e8;
}
.social-login a.google {
  background: #ea4335;
}
.social-login a.google:hover {
  background: #e82e1e;
}
