<div class="my-3">
  <div class="row px-5 px-3">

    <div class="col-md-6">
      <strong>Ex 01 </strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data :</strong> All data
      </p>
      <ul class="techlist" id="elcontain331" ></ul>
      <hr />
    </div>

    <div class="col-md-4">
      <strong>.</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data :</strong>Plucked  data (Phone no)
      </p>
      <ul class="techlist" id="elcontain332"></ul>

      <hr />
    </div>
  </div>
</div>
