<div class="my-3">

  <div class="p-5 row">
    <div class="col-sm-3">
      <div class="card p-2 text-dark ">
        <div class="card-body ">
          <h5 class="card-title">Login Form </h5>
          <a routerLink="../loginform" class="btn btn-warning"  >View</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card p-2 text-dark ">
        <div class="card-body ">
          <h5 class="card-title">Signup Form </h5>
          <a routerLink="../signupform" class="btn btn-warning "  >View</a>
        </div>
      </div>
    </div>


    <div class="col-sm-3">
      <div class="card p-2 text-dark ">
        <div class="card-body ">
          <h5 class="card-title">Registeration Form </h5>
          <a routerLink="../registrationform" class="btn btn-warning "  >View</a>
        </div>
      </div>
    </div>



  </div>




</div>
