<div class="my-3">
<h2 style="text-align: center;">Welcome : <span class="text-primary">{{uname}}</span>  </h2>
<p style="text-align: center; color: White;" class="badage bg-primary">Change in any section but it reflect globally this show How data is communicated between
various component by use of Subject </p>
<hr>

<div class="row">

  <div class="col-md-4 px-md-5">
    <app-comp1></app-comp1>
  </div>

  <div class="col-md-4  px-md-5">
    <app-comp2></app-comp2>
  </div>

  <div class="col-md-4  px-md-5">
    <app-comp3></app-comp3>
  </div>

</div>

</div>
